<div>
  <div>
    <h1>
      new note
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
   

    <form action="/insert_note" method="post">
      <div>
        <label for="body_box"></label>
        <textarea id="body_box" name="query_body" rows="25" cols="100" placeholder="Write your note here..."></textarea>
      </div>

      <div>
        <label for="document_id_box">
          Document title
        </label>

        <input type="text" id="document_id_box" name="query_document_id">
      </div>

      <button>
        Add note
      </button>
    </form>
  </div>
</div>

